PORT=3000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.kk65zx8.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
DB_NAME=cep
ADMIN_USERNAME=CEPSSIIH2026
ADMIN_PASSWORD=change_this_admin_password
SESSION_SECRET=change_this_session_secret
NODE_ENV=development
